/*Customer Properties and Reset */

:root{
    --primary-color: rgb(6, 6, 59);
    /* --primary-text: rgb(6,6,59,0.801); */
    --secondary-color: rgba(218, 189, 27, 0.801); 
    --secondary-no-opacity: rgb(218,189,27);
    --tertiary-color: rgb(61, 61, 218);
    --main-text-color: rgb(245, 245, 245);
    --main-spacing: 2.5rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default units */

html{
    font-size: 100%;
    scroll-behavior: smooth;
    /*scroll behavior auto when navigating to section so it scrolls automatically*/
}

body{
    box-sizing: border-box;
    background: var(--primary-color);
    color: var(--main-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    width: auto;
    /*line height?*/
    /* line-height: 1.75rem; */
    /*add letter spacing somewhere and adjust font weights for importance*/
}

/*Nav*/

nav{
    /* border: 1px solid white; */
    position: fixed;
    top: 0;
    width: 100%;
    padding: var(--main-spacing);
    background: var(--secondary-color);
    box-shadow: 0 0.1rem 0.5rem black;
    z-index: 99;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0, var(--main-spacing);
}

nav a{
    text-decoration: none;
    color: var(--main-text-color);
    /* color: var(--primary-color); */
}

nav a:hover{
    color: var(--secondary-color);
    color: var(--primary-color);
}

/*Intro*/

#intro{
    padding: var(--main-spacing);

}

section{
    padding: calc(var(--main-spacing)/2);
}

.profile{
    display: flex;
    justify-content: space-between;
    margin: var(--main-spacing);
}

.name{
    /* border-top: 1px solid lightgrey; */
    text-align: center;
    line-height: 3.15rem;
}

#first{
    font-size: 1.55rem;
    letter-spacing: 1.2rem;
}

#last{
    font-size: 1.25rem;
    letter-spacing: 1rem;
    border-top: 1px solid var(--main-text-color);
    border-bottom: 1px solid var(--main-text-color);
    display: block;
    margin-left: 0.25rem;
}

.bg-img{
    width: 6rem;
    height: 8rem;
    /* background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.74),rgba(255, 255, 255, 0.747)),url('images/dock.jpg'); */
    background-image: url('images/dock.jpg');
    filter: grayscale(60%);
    background-size: cover;
    border-radius: 50%;
}

#intro-text{
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    padding: var(--main-spacing);
    /* max-height: 24rem; */
    max-height: 42em;
    /* max-height: 62vh; */
    overflow-y: scroll;
    /*max-height can be viewport height or vh or make whole header section some vh*/
}

/*Tech Section*/

#tech{
    background: var(--tertiary-color);
    box-shadow: 0 0.1rem 0.5rem black;
}



.tech-icon{
    color: white;
}

/*Project Section*/

#projects{
    background: var(--secondary-color);
    box-shadow: 0 0.1rem 0.5rem black;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 90%, 0% 95%);
}

#projects h2{
    color: var(--primary-color);
    font-size: 2rem;
}

section{
    margin-top: var(--main-spacing);
}

.project-grid{
    padding: var(--main-spacing);
    margin: var(--main-spacing);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-spacing);
    justify-items: center;
    align-items: center;
}

.project-card{
    height: 25vh;
    width: 15vw;
    background: var(--main-text-color);
    box-shadow: 0 0.1rem 0.5rem black;
}

.project-card:hover{
    border: 3px solid var(--primary-color);
    cursor: pointer;
}

/*Contact Form*/

/* #contact-form{
    background: var(--secondary-color);
    box-shadow: 0 0.1rem 0.5rem black;
} */

form{
    display: flex;
    margin-top: var(--main-spacing);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--main-spacing);
    margin: var(--main-spacing);
    background: var(--secondary-color);
    box-shadow: 0 0.1rem 0.5rem black;
    outline: none;
}

form > *{
    margin-top: 1.25rem;
    border-radius: 0.25rem;
    border: none;
}

.textField{
    width: 100%;
    padding: calc(var(--main-spacing)/1.5);
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--main-text-color);
    color: var(--primary-color);
    outline-color: var(--primary-color);
    box-shadow: 0 0.05rem 0.25rem black;
}

label{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 1.1rem;
}

#message{
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-text-color);
    /* box-shadow: 0 0.1rem 0.5rem black; */
}



.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: var(--main-spacing);
    gap: var(--main-spacing);
    width: 100%;
}

.form-button{
    border: 1px solid var(--main-text-color);
    font-size: 1rem;
    padding: calc(var(--main-spacing)/2);
    border: none;
    font-weight: 700;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--main-text-color);
}

.form-button:hover{
    background: var(--primary-color);
    color: var(--main-text-color);
    opacity: 0.85;
    cursor: pointer;
}





/*Footer*/

footer{
    margin-top: var(--main-spacing);
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: var(--main-spacing);
}

footer p{
    font-size: 1.15rem;
    font-weight: 500;
}

.closer{
    display: flex;
    justify-content: center;
    padding: var(--main-spacing);
    background: var(--primary-color);
    width: 100%;
    height: 100%;
}

/* Target HTML Elements */

.sect-header{
    text-align: center;
    font-size: 1.65rem;
    font-weight: 800;
}

/* Icons */

.icon-container{
    display: flex;
    justify-content: space-around;
    margin-top: var(--main-spacing);
}

.fa{
    color: var(--primary-color);
}

.footer-assist{
    padding: var(--main-spacing);
}

.footer-icon-container{
    display: flex;
    justify-content: center;
    margin-top: calc(var(--main-spacing)/2);
    gap: var(--main-spacing);
}

.footer-icon{
    color: var(--main-text-color);
}

/*Media Queries*/

@media(max-width: 280px){
    html{
        font-size: 62.5%;
        overflow-x: hidden;
        /* width: 100%; */
    }
    body{
        overflow-x: hidden;
        /* position: relative; */
    }
    #projects{
        height: 100vh;
    }
    .project-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        margin-bottom: calc(var(--main-spacing)*2);
    }
    .project-card{
        height: 22vh;
        width: 30vw;
    }
}

